.collection-ctas {
  position: relative;

  &.collection-ctas_alt {
    overflow: hidden;
    background-color: $navy;
  }
}

.collection-ctas__background-graphic {
  display: none;

  .collection-ctas_alt & {
    $_y-axis: $space-large;

    position: absolute;
    left: 0;
    display: block;
    width: 1511px;
    max-width: none;
    height: auto;
    fill: $cyan;
    transform: translate(-58%, $_y-axis);

    @include breakpoint(xlarge) {
      transform: translate(15%, $_y-axis);
    }
  }

}

.collection-ctas__overlay {
  .collection-ctas_alt & {
    background-color: rgba(0, 38, 62, 0.45);
    @include adhere;
  }
}

.collection-ctas__inner {
  position: relative;
  z-index: 1;
  padding: 0 0 $space-large 0;
  @include flex-grid-row;
  justify-content: center;
  .collection-ctas_alt & {
    @include flex-grid-row(null, rem-calc(799));
  }

  @include breakpoint(medium) {
    padding: 0 0 $space-xlarge 0;
  }
}

.collection-ctas__heading-wrap {
  position: relative;
  padding-top: 150px;
  padding-bottom: $space-xlarge;
  text-align: center;
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    padding-top: $space-xxlarge;
    padding-bottom: 50px;
    @include flex-grid-size(10);
    @include grid-column-position(center);
  }

  @include breakpoint(large) {
    @include flex-grid-size(6);
  }
}

.collection-ctas__heading,
.collection-ctas__text {
  .collection-ctas_alt & {
    color: $white;
  }
}

.collection-ctas__item {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: $space-medium;
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    margin-bottom: 30px;
    @include flex-grid-size(6);
  }

  @include breakpoint(large) {
    @include flex-grid-size(4);
  }

  .collection-ctas_alt & {
    @include breakpoint(large) {
      @include flex-grid-size(6);
    }
  }

  .button-left-bordered_gray {
    display: flex;
    align-self: stretch;
    align-items: center;
    width: 100%;
    color: $orange;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.collection-ctas__item-cta {
  @include button-left-bordered($black, $gray, $white, $orange);
}
