{#
/**
* @file
* Theme override for a field.
*/
#}

<div role="navigation" aria-label="Carousel Navigator" class="slider__navigation">
    <button class="slider__navigation-btn left">
        <svg viewBox="0 0 15.74 22.99" class="carousel-gallery__svg">
            <use xlink:href="/themes/custom/onu/assets/svgs/icon-chevron.svg#icon"></use>
        </svg>
        <span class="access-hidden hide">Navigate Left</span></button>
    <button class="slider__pause-btn"><span class="access-hidden hide">Play</span></button>
    <button class="slider__navigation-btn right">
        <svg viewBox="0 0 15.74 22.99" class="carousel-gallery__svg">
            <use xlink:href="/themes/custom/onu/assets/svgs/icon-chevron.svg#icon"></use>
        </svg>
        <span class="access-hidden hide">Navigate Right</span></button>
</div>
