{#
/**
 * @file
 * Theme override for a field.
 */
#}

{#Vimeo: https://player.vimeo.com/video/58385453?badge=0#}
{#Youtube:  https://www.youtube.com/embed/Jfrjeg26Cwk#}

<button class="video-modal__button video-btn" type="button" data-toggle="modal"
        data-src="{{ video_raw_uri }}" data-target="#myModal">
    <svg aria-hidden="true" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" class="video-modal__button-svg">
        <use xlink:href="/themes/custom/onu/assets/svgs/icon-play.svg#icon"></use>
    </svg>
    <span class="video-modal__button-text">{{ video_raw_title }}</span>
</button>